<html>
	<head>
		<center> <img src="{{url_for('static', filename='images/HEI_Banner_Logo-2017 -600.jpg') + token_parameter}}" alt="HEI Banner" style="margin-bottom: 50px; margin-top: 20px;"> </center>
		<title> HEI - 2019 Lookup Error </title>
	</head>
	<body style="background-color: #FCFDFF">
		<div class="container" style="margin-left: 50px">
			<h3> Enter your Facility ID below to check your training hours: </h3>
			<form action="{{ url_for('training_hours_lookup') + token_parameter }}" method="post">
				<label for:"training_hours_lookup_btn"> Facility ID: </label> <input type="text" name="facility_id"> </input>
				<input class="btn btn-default" type="submit" value="Training Hours Lookup" name="training_hours_lookup_btn">				
			</form>
			<h3 style="margin-top: 70px">Facility Name: {{ account_name }} </h3>
			<h4 align="left">HEI - 2019 Training Hours Completed: </h4>
			<p><font face="verdana" size="2" color="red"><b>There was an error retrieving your information, please contact HRC</b></font></p>
			<p>Training hours include the CAL, National LGBT Health Education Center and other approved HEI training credit hours through {{ last_training_update }}.</p>	
		</div>
	</body>
</html>